h1 {
  text-align: center;
  background-color: grey;
  color: white;
}

#searchBar {
  margin-left: 0.5em;
}


#currentCityPlaceHolder {
  border: solid;
  border-width: 1px;
}

#fiveDayPlaceHolder {
  color: white;
}

h2 {
    font-weight: bold;
}
#currentCity {
  font-weight: bold;
  font-size: xx-large;
}